.ckmint__footer {
    background-color: var(--color-footer);
    padding: 2rem;
}

.ckmint__footer p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    text-transform: capitalize;

    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--color-footer);
}