<form id="form_inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <p>
        <label>
            Nume Moneda: <input type="text" name="nume" id="inp-nume"  value="CrackIT">
        </label>
    </p>
    <p>
        <label>
            Simbol moneda: <input type="text" name="simbol" id="inp-simbol" value="C">
        </label>
    </p>
    <p>
        <label>
            Supply moneda: <input type="text" name="supply" id="inp-supply" value="100000000">
        </label>
    </p>
    <p>
        <label>
            Zecimale moneda: <input type="text" name="decimals" id="inp-decimals" value="10">
        </label>
    </p>
    <p>		
        <input type="submit" value="Trimite">
        <input type="reset" value="Reseteaza">
    </p>
</form>