<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="CrackIT">
        <meta name="keywords" content="CrackIT">
        <title>CrackIT</title>
    </head>
    <body>
        <main>
            <p>Formular creare moneda</p>
            <% if() %>
            <%- include("../formular", {action: "/form"}) %>
        </main>
    </body>
</html>