<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="CrackIT">
        <meta name="keywords" content="CrackIT">
        <title>CrackIT</title>
    </head>
    <body>
        <main>
            <p>Hello</p>
        </main>
    </body>
</html>