html {
    background-color: var(--color-footer);
    /* padding: 4rem; */
}

.form-title {
    color: #fff;
    display: flex;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.04em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 4rem;
}

.form-container {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.form-container label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.submit input{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: none;
}

.form-container label text {
    height: 1rem;
    line-height: 1rem;
}

.form-container label input{
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    flex-direction: row;
    line-height: 1rem;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    color: var(--color-footer);
}

.submit {
    justify-content: center;
}

.form-container label.submit input{
    background: #FF4820;
    border: 2px solid #FF4820;
    height: 2rem;
    width: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    color: #fff;
}