<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="CrackIT">
        <meta name="keywords" content="CrackIT">
        <title>CrackIT</title>
        <script type="text/javascript" src="../scripts/deploy.js"></script>
    </head>
    <body>
        <main>
            <p>Home Page</p>        
        </main>
    </body>
</html>