<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="CrackIT">
        <meta name="keywords" content="CrackIT">
        <title>CrackIT</title>
    </head>
    <body>
        <main>
            <script>
                async function main(supply, tokenName, symbol, decimals) {
                console.log("part1")
                await createToken(supply, tokenName, symbol, decimals)
              }
              
              main(BigInt(campuriText.supply), campuriText.nume, campuriText.simbol, BigInt(campuriText.decimals))
               .catch(error => {
                 console.error(error);
                 //process.exit(1);
               });


                async function createToken(supply, tokenName, symbol, decimals)
              {
              const HelloWorld = await ethers.getContractFactory("token");
              console.log("part2")
              
              // Start deployment, returning a promise that resolves to a contract object
              const hello_world = await HelloWorld.deploy(supply, tokenName, symbol, decimals);
              console.log("Contract deployed to address:", hello_world.address);
              console.log(localStorage);
              //to = document.cookie.spl;
              console.log(account, supply)
              await hello_world.transfer(to, supply)
              }
            </script>
        </main>
    </body>
</html>